* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}
header {
  background-color: #3AAFA9;
  padding:0.5rem;
  max-width: 100vw;
  text-align: center;
}
body {
  background-color: black;
}
h2 {
  text-align: center;
  margin: 15px 0;
}
#select-items {
  color: black;
}
#items {
  color: black;
}
#url {
  color: black;
  min-width: 250px;
  border-radius: 15px;
}
#submit {
  color: black;
  padding: 0 5px;
}
#form {
  display: flex;
  justify-content: center;
}
.fil {
  background-color: #3AAFA9;
  padding: 0 6px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}
#filter {
  display: flex;
  justify-content: center;
 padding: 40px 10px;
}
#filter li {
  margin: 5px;
}
#warning {
  color: red;
  text-align: center;
  height: 20px;
  margin-top: 10px;
}
#main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.img-pro {
  width: 100%;
}
.mainDiv {
  width: 18%;
}
.del {
  background-color: #3AAFA9;
  padding: 0 6px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}